
<div class="container theme-showcase" role="main">

	<div class="page-header">
		<h1>Send Reports</h1>
	</div>
	{{responseMessage}}
<form name="sendReportForm" autocomplete="off" novalidate>
	<div class="form-group row">

		<label for="productType" class="col-sm-2"> Month:</label> <select
			class="form-control col-sm-2"
			style="width: 20%;"  ng-model="reportModel.month">
			<option value="01">Jan</option>
			<option value="02">Feb</option>
			<option value="03">Mar</option>
			<option value="04">Apr</option>
			<option value="05">May</option>
			<option value="06">Jun</option>
			<option value="07">Jul</option>
			<option value="08">Aug</option>
			<option value="09">Sep</option>
			<option value="10">Oct</option>
			<option value="11">Nov</option>
			<option value="12">Dec</option>
			</select> 
			<label
			for="productType" class="col-sm-2">Year:</label> <select
			class="form-control col-sm-2" style="width: 20%;"
			ng-model="reportModel.year">
			<option selected="selected" value="19">2019</option>
			<option value="18">2018</option>
		</select> 
		</div>
		<div class="form-group row">
		<button
			id="sendReportBtn" type="button" class="btn btn btn-primary col-sm-1"
			style="width: auto" ;
   ng-click="sendReport(reportModel)"
			ng-disabled="sendReportForm.$invalid" font-weight:bold;">Send
			Email</button>
			</div>
		</form>
</div>