
<div class="container theme-showcase" role="main">

	<div class="page-header">
		<h1>Add Invoice</h1>
	</div>




	<form id="addOrderForm" autocomplete="off">

		<div class="form-group row">

			<label for="productType" class="col-sm-1">Product Type:</label> <input
				type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Customer Name" name="productType"> <label
				for="productName" class="col-sm-1">Product Name:</label> <input
				type="text" ng-model="productName" class="form-control col-sm-2"
				style="width: 20%;" placeholder="Product Name" name="productName">


			<table class="table table-striped">
				<thead>
					<tr ng-if="stocks.length > 0">
						<th>S.No</th>
						
						<th>Product Name</th>
						

					</tr>
				</thead>

				<tr ng-repeat="stock in stocks| filter:productName">
					<td>{{ $index+1 }}</td>
					<td>{{ stock.productId }}-{{ stock.productName }}-{{ stock.productDesc }}</td>
						<td>
						<button id="editOrderBtn" type="button"
							class="btn btn btn-primary col-sm-1" style="width: auto"; font-weight:bold;" ng-click="pushToTemp(stock)">Add</button>
					</td>
					

				</tr>
			</table>
		</div>


		<table class="table table-striped">
			<h1>Purchase Items</h1>

		
			<thead>
				<tr ng-if="purchaseItems.length > 0">
					<th>S.No</th>
				
					<th>Product Name</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Total Cost</th>
				</tr>
			</thead>
			<tbody>

				<tr ng-repeat="x in purchaseItems">

					<td>{{ $index+1 }}</td>
					
					<td>{{ x.productName }}</td>
					
					
					<td><input type="text"
						class="form-control col-sm-1" style="width: auto;"
						value="" name="customerContact" ng-model="x.quantity"
						id="customerContact" /></td>
						<td><input type="text"
						class="form-control col-sm-1" style="width: auto;"
						value="" name="customerContact" ng-model="x.unitPrice"
						id="customerContact"  /></td>


					<td>{{x.totalCost = x.quantity * x.unitPrice}}</td>


					<td ng-if="$index != editIndex">
						<button id="editOrderBtn" type="button"
							class="btn btn btn-primary col-sm-1" style="width: auto"
							; ng-click="editOrders(names.indexOf(x))"font-weight:bold;">Edit</button>
					</td>
					<td ng-if="$index == editIndex">
						<button id="updateOrderBtn" type="button"
							class="btn btn btn-primary col-sm-1" style="width: auto"
							; ng-click="updateOrders(x.orderId)"font-weight:bold;">Update</button>
					</td>
					<td ng-if="$index == editIndex">
						<button id="updateCancelOrderBtn" type="button"
							class="btn btn btn-danger col-sm-1" style="width: auto"
							; ng-click="cancelUpdateOrders()"font-weight:bold;">Cancel</button>
					</td>

					<td>
						<button id="sendSMSBtn" type="button"
							class="btn btn btn-primary col-sm-1" style="width: auto"
							; ng-click="sendSMS(names.indexOf(x))"font-weight:bold;">Send
							SMS</button>
					</td>
				</tr>

			</tbody>
		</table>






		<div class="form-group row"  ng-if="purchaseItems.length > 0">
		 <label
				for="totalAmount" class="col-sm-1">Total Amount:</label> {{calculateTotalAmount()}}
				
					<label for="initialAmount" class="col-sm-1">Initial Amount:</label> <input
				type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Initial Amount" name="initialAmount" id="initialAmount" ng-model="initialAmount"
				data-validation="length numeric" >
				
				 <label
				for="pendingAmount" class="col-sm-1">Pending Amount:</label> {{calculatePendingAmount(initialAmount)}}
				
		</div>


		<div class="form-group row" ng-if="purchaseItems.length > 0">

			<label for="customerName" class="col-sm-1">Customer Name:</label> <input
				type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Customer Name" name="customerName" id="customerName"
				data-validation="length alphanumeric"> <label
				for="customerContact" class="col-sm-1">Customer Contact:</label> <input
				type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Customer Contact" name="customerContact"
				id="customerContact" data-validation="length alphanumeric">

			<label for="customerContact" class="col-sm-1">Customer Email:</label>
			<input type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Customer Contact" name="customerContact"
				id="customerEmail" data-validation="length alphanumeric"> <label
				for="referredBy" class="col-sm-1">Referred by:</label> <input
				type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Delivery Date" name="referredBy" id="referredBy"
				data-validation="length alphanumeric">

		</div>
	</form>

</div>