
<div class="container theme-showcase" role="main">

	<div class="page-header">
		<h1 ng-if="!isDisabled">Update Tasks</h1>
	</div>
<div class="page-header">
		<h1 ng-if="isDisabled">Update Tasks Details</h1>
	</div>





			<div class="form-group row" ng-if="!isDisabled" >
		
			<label for="productType" class="col-sm-1" >Task Id:</label> 
			</label> <input
				type="text"  class="form-control col-sm-2"
				style="width: 20%;" placeholder="Task Id" ng-model="searchModel.taskId">	
		
				
				
				 <label
				for="productName" class="col-sm-1">Task Status:</label><select ng-model="searchModel.taskStatus" 
				 class="form-control col-sm-2" style="width: 20%;"
				 ng-options="task for task in taskStatusList"></select>
				 
				 <button ng-if="!isDisabled" id="editOrderBtn" type="button" class="btn btn btn-primary col-sm-1" style="width:auto";
   ng-click="searchTask(searchModel)"
   font-weight:bold;">Search Task</button>
				</div class="form-group row" ng-if="!isDisabled">
				<div>


			<table class="table table-striped">
				<thead>
					<tr ng-if="taskList.length > 0">
						<th>S.No</th>
						
						<th>Task Details</th>
						

					</tr>
				</thead>

				<tr ng-repeat="task in taskList">
					<td>{{ $index+1 }}</td>
					<td>{{ task.taskId }}-{{ task.name}}{{ task.taskStatus}}-{{task.deliveryDate}}</td>
						<td>
						<button id="editOrderBtn" type="button"
							class="btn btn btn-primary col-sm-1" style="width: auto"; font-weight:bold;" ng-click="pushToEdit(task)">Edit</button>
					</td>
					

				</tr>
			</table>
		</div>
		
	
<form name="updateTaskForm" autocomplete="off" novalidate>

		<div class="form-group row" >

			<label for="productId" class="col-sm-1">Task Id:</label> 
			 <input
				type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Product Sub Type" name="productSubType"
				id="productSubType" data-validation="length alphanumeric" ng-model="taskModel.taskId" ng-disabled="true"
					required/>
				<label for="productType" class="col-sm-1">Task Status:</label><select ng-model="taskModel.taskStatus" 
				 class="form-control col-sm-2" style="width: 20%;"
				 ng-options="task for task in taskStatusList" required ng-disabled="isDisabled" ></select>
			<label
				for="productSubType" class="col-sm-1">Delivery Date:</label> <!-- <input
				type="text" class="form-control col-sm-2" style="width: 20%;"
				placeholder="Product Sub Type" name="productSubType"
				id="productSubType" data-validation="length alphanumeric" ng-model="taskModel.deliveryDate" ng-disabled="isDisabled"
				
			required/> -->
		
				   <div class="col-sm-2">
            <p class="input-group">
              <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="taskModel.deliveryDate" is-open="opened" min-date="minDate"  datepicker-options="dateOptions" ng-disabled="isDisabled" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-disabled="isDisabled" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
		</div>
		
		
				
  <button ng-if="!isDisabled" id="editOrderBtn" type="button" class="btn btn btn-primary col-sm-1" style="width:auto";
   ng-click="updateTask(taskModel)"
   ng-disabled="updateTaskForm.$invalid"
   font-weight:bold;">Update Task</button>
   <a ng-if="isDisabled" 
   	href="#createInvoice.html"
   >Back To Home</a>
	</form>

</div>